<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add New Student</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="green-gradient">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div th:insert="~{fragments::leftNav}"></div>
			</div>
			<div class="col-md-9">
				<div th:insert="~{fragments::devBox}"></div>
				<div id="content">
					<h2>Add New Student</h2>
					<form action="/student/new" method="post">
						<div class="form-group">
							<label for="name">Name</label> <input type="text"
								class="form-control" id="name" name="name" required>
						</div>
						<div class="form-group">
							<label for="groupId">Group ID</label> <input type="text"
								class="form-control" id="groupId" name="groupId" required>
						</div>
						<button type="submit" class="btn btn-light">Add Student</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{fragments::footer}"></div>
</body>
</html>
