<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }
        
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>MSSV</th>
                <th>Họ và Tên</th>
                <th>Năm Sinh</th>
                <th>Giới Tính</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sv : ${dsSV}">
                <td th:text="${sv.mssv}"></td>
                <td th:text="${sv.hoTen}"></td>
                <td th:text="${sv.namSinh}"></td>
                <td th:text="${sv.gioiTinh}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
