<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Vietnamese Newspaper - Trang Chủ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:insert="~{frontEndView/fragments::header}"></div>
	<div th:insert="~{frontEndView/fragments::menu}"></div>
	
	<div class="container mt-4">
	<div class="row">
  		<div class="col-md-9">
			<h2>Tin Mới Nhất</h2>
		<div th:each="tin, tinStat : ${dsTin}" class="card mb-3">
			<img th:src="@{${tin.anhUrl}}" class="card-img-top" alt="News Image">
			<div class="card-body">
				<h5 class="card-title" th:text="${tin.tieuDe}">Tiêu đề</h5>
				<p class="card-text" th:text="${tin.noiDung}">Mô tả ngắn</p>
				<a class="btn btn-primary">Đọc thêm</a>
			</div>
		</div>
	    </div>
	    
	    <div class="col-md-3">
			<div th:insert="~{frontEndView/fragments::sidebar}"></div>
	    </div>
	  </div>
	</div>
	
	<div th:insert="~{frontEndView/fragments::footer}"></div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
